<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!-- Map the ADMIN role to a user or group (You need to specify a user or group name here) -->
<!--    <security-role-mapping>-->
<!--        <role-name>ADMIN</role-name>-->
<!--        <principal-name>admin</principal-name> &lt;!&ndash; Replace with the actual user or group name &ndash;&gt;-->
<!--    </security-role-mapping>-->

    <!-- Define the security constraint -->
<!--    <security-constraint>-->

<!--        <web-resource-collection>-->
<!--            <web-resource-name>Protected Pages</web-resource-name>-->
<!--            <url-pattern>/admin/*</url-pattern> &lt;!&ndash; URL patterns to protect &ndash;&gt;-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>ADMIN</role-name> &lt;!&ndash; Role required to access protected pages &ndash;&gt;-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/lib/jstl-1.2.jar</taglib-location>
        </taglib>
    </jsp-config>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.optima.demo12.Http.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.optima.demo12.Http.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/Dashboard</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-class>com.optima.demo12.Http.AddEmpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddEmpServlet</servlet-name>
        <url-pattern>/admin/AddEmployee</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>EditEmpServlet</servlet-name>
        <servlet-class>com.optima.demo12.Http.EditEmpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditEmpServlet</servlet-name>
        <url-pattern>/admin/EditEmployee/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteEmpServlet</servlet-name>
        <servlet-class>com.optima.demo12.Http.DeleteEmpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteEmpServlet</servlet-name>
        <url-pattern>/admin/DeleteEmployee/</url-pattern>
    </servlet-mapping>















    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.optima.demo12.Http.Filters.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- Define the login configuration -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <!-- Add a form-error-page if needed -->
        </form-login-config>
    </login-config>


</web-app>
